.container{
    width: 1350px;
    margin: auto;
  
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  
  header{
    padding: 10px 0px;
    box-shadow: 0px 10px 10px gray;
  }
  
  .header_logo{
    width: 100px;
    height: auto;
  }
  
  .logo_support{
    margin-left: 5px;
    margin-top: 15px;
    font-size: 32px;
    color: rgb(78, 78, 78);
  }
  
  .header_nav{
    width: 500px;
    margin-left: 50px;
    margin-top: 25px;
  }
  
  .header_nav a {
    text-decoration: none;
    color: black;
    margin: 0px 15px;
  }
  
  .header_nav a:hover {
    color: blue;
  }
  
  .header_btn{
    margin-left: 900px;
    width: 450px;
    font-size: 20px;
  }
  
  .header_btn a {
     margin-left: 25px;
     margin-bottom: 25px;
     margin-top: 20px;
     text-decoration: none;
     font-size: 18px;
     padding: 10px 15px;
     border-radius: 5px;
     
  }
  
  .header_btn_one{
    color:dodgerblue;
  
  }
  
  .header_btn_one:hover{
    color:dodgerblue;
    background-color:rgb(233, 233, 233);
  }
  
  .header_btn_two{
    background-color: dodgerblue;
    color: white;
  }
  .header_btn_two:hover{
    background-color: rgb(47, 142, 236) ;
  }
  
  .title{
    margin-top: 50px;
  }
  
  .title_one{
    width: 40%;
    padding: 25px;
  }
  
  .title_one h1{
    font-size: 50px;
  }
  .title_one p{
    font-size: 20px;
    font-weight:300;
  }
  
  .title_two{
    width: 50%;
    margin: auto;
    
  }
  
  .title_two img{
    width: 100%;
    margin: 10%;
  }

  .about_trello{
    text-align: center;
  }
  
  .about_trello h1{
    font-size: 18px;
  }
  .about_trello h2{
    font-size: 40px;
  }
  .support{
    background-color: rgb(223, 220, 220);
    margin-top: 75px;
    border-top:1px solid rgb(199, 196, 196);
    border-bottom: 1px solid  rgb(199, 196, 196);
  }
  
  .support_box{
    width: 28%;
    padding: 30px;
    margin: 0px auto;
    text-align: left;

  }
  
  .support_box h3{
    font-size: 25px;
    font-weight: 400;
  }
  
  .support_box p{
    font-weight: 200;
  }
  
  .underline{
    width: 30px;
    height: 5px;
    background-color: aqua;
    border-radius: 10px;
  }
  
  .support_box_border{
    border-left:1px solid rgb(199, 196, 196); ;
    border-right:1px solid rgb(199, 196, 196); ;
  }
  
  .features{
    margin-top: 50px;
  }
  
  .features_img{
    width: 80%;
    margin: 0px auto;
    
  }
  
  .features_img img{
    width: 80%;
  }
  .features_content{
    width: 60%;
    margin: 0px auto;
    text-align: center;
  }
  
  .features_content h1{
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
  }
  .features_content h2{
    font-size: 40px;
    text-align: left;
  }
  .features_content p{
    font-weight: 200;
    font-size: 18px;
    color: rgb(119, 119, 119);
  }
  
  .features_buttons{
    margin-top: 100px;
  }
  
  .features_button{ 
    width: 33.33%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(184, 184, 184);
    border-radius: 10px;
   
  }
  
  .features_button a{
    text-decoration: none;
    color: black;
  }
  
  .features_button:hover{
    border-bottom: 3px solid dodgerblue; 
  }
  
  .features_text{
    margin-top: 100px;
    width: 40%;
    padding: 50px;
    font-weight: 500;
    color: rgb(179, 179, 179);
  }
  
  .features_video{
    margin-top: 100px;
    width: 60%;
  
  }
  
  .features_video video {
    width: 80%;
    margin: 0px 10%;
  }